:root {
    --nav: #E8DBCB;
    --logo: #bf5e17;
    --dark-bg: #040000;
    --light-gray: #dddddd;
    --green: #1abb9c;
    --orange_light: #e39e50;
    --dark_brown: #4e4138;
    --btn_red: #891827;
    --bg-purple: #7c446b;
}

/*@font-face {*/
/*    font-family: Gandom;*/
/*    src: url('http://fonts.codearena.ir/rastikerdar/gandom/gandom.eot');*/
/*    src: url('http://fonts.codearena.ir/rastikerdar/gandom/gandom.eot?#iefix') format('embedded-opentype'),*/
/*    url('http://fonts.codearena.ir/rastikerdar/gandom/gandom.woff') format('woff'),*/
/*    url('http://fonts.codearena.ir/rastikerdar/gandom/gandom.ttf') format('truetype');*/
/*    font-weight: normal;*/
/*}*/

body, body#admin {
    font-family: Tahoma !important;
    direction: rtl !important;
    font-size: 14px;
    background-color: #e3ede7;
    min-height: 70vh;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a, a:hover {
    text-decoration: none !important;
    font-family: Gandom, Tahoma;
}

.pr-1 {
    padding-right: 1px
}

.cart-padding {
    padding: 1px 3px;
}

#nav-section {
    background-color: var(--dark-bg);
    font-size: 16px;
    height: 11vh;
}

#menu {
    height: 8vh
}

#nav-section ul li:hover {
    background: var(--logo);
    color: black !important;
    padding: 1.5rem;
    transition: all 0.9s;
    border-radius: 20px;
}

nav#menu { background-color: var(--orange_light)}

.logo {color: var(--logo)}

footer#Footer {
    background-color: var(--dark_brown);
    height: 15vh;
}

#mainpage-photo-part {
    height: 81vh;
    width: 100%;
    background: url("../image/pic-2.jpg") no-repeat fixed center center/cover;
}

#mainpage-photo-part #text-part {
    background: var(--logo);
    position: absolute;
    bottom: 50px;
    right: 50px;
}

#mainpage-photo-part #mainpage-cover {
    background-color: rgba(5, 5, 5, 0.7);
    height: 82vh;
    width: 100%;
}

.img-size {
    position: relative;
    width: 100%;
    height: 100%;
}

.item-color {
    color: var(--dark_brown);
}

.text-navy-blue {
    color: var(--dark_brown)
}

#products-part,
#product-part {
    width: 93%;
    margin: auto;
}

.bg-orange{
    background-color: var(--logo) !important;
}
.text-orange{ color: var(--logo) }
.bg-navy-blue {
    background-color: var(--light-orange) !important;
}

.border-orange:not(last-child) {
    border-bottom: 3px solid var(--logo);
}

.btn-green {
    background-color: var(--green) !important;
}

#aside-part ul li:hover {
    padding-right: 12px;
}

.image-border {
    border: 2px black solid;
}

.bg-light-gray {
    background-color: var(--light-gray)
}

.dashed-border {
    border: 4px dashed rgba(0, 0, 0, 0.99);
}

.bg-black {
    background-color: var(--dark-bg);
    border: 1px solid var(--dark-bg);
}
.bg-red{
    background-color: var(--btn_red)!important;
}
.bg-purple{
    background-color: var(--bg-purple);
}
